<nav class="navbar navbar-expand-lg navbar text-allign:center;">
  <a class="navbar-brand" href="#">Simple Authentication App</a>
</nav>
<div class="home-img">
  <img class="img-web2" src="/public/images/work-stress.png" width="10%" />
</div>
<div class="button" style="">
  <a class="btn-login btn btn-primary btn-lg active" href="/login">Login</a>
  <a class="btn btn-regis btn-primary btn-lg active" href="/register">Register</a>
</div>