<nav class="navbar navbar-expand-lg navbar justify-content: center">
  <a class="navbar-brand" href="#">CONGRATULATION!!!!!</a>
</nav>

<div class="text-allign:center">
  <img class="img-web2" src="/public/images/welcome-new-employee.png" width="25%" />
  <h2>There is nothing here but</h2>
  <h3>Before you logout dont forget to check my latest Personal Landing Page <a href="https://luth0910.github.io/my.portofolio/" target="_blank">here</a></h3>
</div>

<div style="margin-top: 30px;">

  <a class="btn btn-warning btn-lg active" href="/logout">Logout</a>
</div>